[submodule "local/cimencamplus"]
	path = local/cimencamplus
	url = https://github.com/Breniell/cimencamplus.git
[submodule "moodle/theme/adaptable"]
	path = moodle/theme/adaptable
	url = https://github.com/Breniell/CimForm-Theme.git
